<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="login-page.component.css" />
  </head>
  <body>
    <div class="log-in">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="text-wrapper">Log into your account</div>
          <div class="username">
            <input class="rectangle">
            <div class="div">Username</div>
          </div>
          <div class="password">
            <div class="rectangle"></div>
            <div class="text-wrapper-2">Password</div>
          </div>
          <button class="continue-button">
            <div class="overlap-group"><button class="text-wrapper-3">Continue</button></div>
          </button>
          <div class="divider"></div>
          <div class="image"><div class="rectangle-2"></div></div>
          <div class="text-wrapper-4">Bookster</div>
          <p class="p">Dont have an account? Sign up</p>
        </div>
      </div>
    </div>
  </body>
</html>
