.fullscreen-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.main-text {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.39);
  font-family: 'Poppins', sans-serif;
  font-size: 3.75rem;
  font-weight: 600;
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%;
  transform: translate(-50%, -100%); /* Adjust both the X and Y axis */
  z-index: 2;
}

.sub-text {
  color: #FFF;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  position: absolute;
  top: 50%; /* Place just below the main text */
  left: 50%;
  transform: translate(-50%, 10%);
  z-index: 2;
}

.sign-up-button {
  border-radius: 0.625rem;
  background-color: #C0C0C0;
  width: 22.5625rem;
  height: 3.3125rem;
  font-size: 1.5rem;
  border: none; /* Remove default border */
  outline: none; /* Remove focus outline */
  cursor: pointer; /* Add pointer cursor on hover */
}
.sign-up-button:focus {
  outline: none;
}

.button:hover {
  background-color: #555;
  color: white;
}

